{% extends "admin/change_list.html" %}
{% load i18n %}
{% load static %}

{% block object-tools-items %}
  {{ block.super }}

  <a class="related-widget-wrapper-link btn btn-info" data-popup="yes" id="uploadIntent" style="padding: 6px;">{% trans 'Upload Intent' %}</a>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% if selected_bot %}
      <script>
          const modalId = 'uploadIntent'
          const buttonText = "{% trans 'Upload Intent' %}"
          const formAction = '{% url 'nlp-bot-upload-intents' bot_id=selected_bot.id %}'
          const formId = 'intent-upload-form'
          const fileId = 'intent-file-input'
          const uploadUrl = '{% url 'nlp-bot-upload-intents' bot_id=selected_bot.id %}'
          const csrfToken = '{{ csrf_token }}'
          handleUpload(modalId, buttonText, formAction, formId, fileId, uploadUrl, '{{ csrf_token }}');
      </script>
    {% endif %}
{% endblock %}
